<!DOCTYPE html>
<html>
  <head>
    <title>Stripe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    "stripe/application", media: "all" %>
  </head>
  <body>
    <h1>AiiA Sandbox </h1>
    <%= yield %>
  </body>
</html>
